*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/* nav menu related styles */
nav{
    display: flex;
    margin: 80px 120px 50px;
    justify-content: space-between;
    align-items: center;
    /* gap: 1000px; */
}
nav >ul{
    display: flex;
    /* margin-right: 34px; */
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
}

/* banner related styles */
.banner-section{
    display: flex;
    align-items: center;
    margin: 0px 130px;
    gap: 20px;
}
.banner-title{
    color: #3A3A3A;
    font-size: 52px;
    font-weight: 700;
    line-height: 70px; /* 134.615% */
}
.banner-description{  
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
    width: 55%;
    margin: 16px 0px;
}
.btn-primary{
    border-radius: 41px;
    background: #E02C6D;
    border: none;
    padding: 10px 24px;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
}
.banner-images{
    margin-left: 250px;
    background-image: url('../images/Circle\ design.svg');
    background-color: rgb(99, 67, 82);
}